<div class="page-domain container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1><%= domain.name %></h1>
      <p><%= domain.description %></p>
    </div>
  </div>
  
  <div class="row">    
    <div class="col-md-6">
      <h2></h2>
      <%- partial('table', { runtimes: domain.runtimes, items: commands}) %>
      
      <h2>Events</h2>
      <%- partial('table', { runtimes: domain.runtimes, items: events}) %>
      
      <h2>Types</h2>
      <%- partial('table', { runtimes: domain.runtimes, items: types}) %>
    </div>
  </div>
</div>


