<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1>Domains</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <table class="table page-index-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Runtimes</th>
        </tr>
      </thead>
      <% domains.forEach(function(domain) { %>
        <tr>
          <td>
            <a href="/<%= domain.name %><% if(!filter.isDefault) {%>?runtimes=<%=filter.runtimes.join(',')%> <% } %>"><%= domain.name %></a>
          </td>
          <td>
            <% if (domain.isExperimental) { %> 
              <span class="label label-warning">Experimental API</span>
            <% } %>
          </td>
          <% if (domain.runtimes) { %> 
          <td class="runtime">
            <% domain.runtimes.forEach(function(runtime) { %>
                <% if(filter.runtimes.includes(runtime.name)) { %> 
                  <% if (runtime.protocol) { %> 
                    <img src="<%= runtime.icon %>" title="<%= runtime.name %>"/>
                  <% } %>
                <% } %>
            <% }) %>
          </td>
          <% } %>
        </tr>
      <% }) %>
      </table>
    </div>
  </div>

</div>

