<table class="table  table-condensed table-hover">
  <thead>
    <tr>
      <td></td>   
    <% runtimes.forEach(function(runtime) { %>
      <td><h4><%= runtime.name %></h4></td>      
    <% }) %>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(cPair, index) { %>
      <tr class="<%= cPair.isPartOfCore ? 'parity label-success' : '' %>">
      <td class="command"><%= cPair.flat.name %></td>
      <% domain.runtimes.forEach(function(runtime, index) { %>
        <% if(cPair.pair[index]) { %>
          <td class="<%= cPair.pair[index].object && cPair.pair[index].object.experimental ? 'state-hidden label-warning' : '' %>">
            <a href="<%=domain.name %>/<%=runtime.name %>/<%= type %>/<%= cPair.pair[index].name %>">
              <%= cPair.pair[index].name %>
            </a>
          </td>
        <% } else { %>
          <td class="empty label-danger"></td>
        <% } %>    
      <% }) %>    
      </tr>      
    <% }) %>
    
  </tbody>
</table>
