<table class="table  table-condensed table-hover">
  <thead>
    <tr>
      <td></td>   
    <% runtimes.forEach(function(runtime) { %>
      <td><h4><%= runtime.name %></h4></td>      
    <% }) %>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(cPair) { %>
      <tr class="<%= cPair.hasParity ? 'parity' : '' %>">
      <td class="command"><%= cPair.flat.name %></td>
      <% domain.runtimes.forEach(function(runtime, index) { %>
        <% if(cPair.pair[index]) { %>
          <td class="<%= cPair.pair[index].object && cPair.pair[index].object.hidden ? 'state-hidden label-warning' : '' %>"><%= cPair.pair[index].name %></td>
        <% } else { %>
          <td class="empty"></td>
        <% } %>    
      <% }) %>    
      </tr>      
    <% }) %>
    
  </tbody>
</table>
